{% extends "layout.html" %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<!-- <img src="{{ url_for('static', filename='img/análise-de-dados.jpg') }}" alt="Intro Site" width=700 height=400 id="img-home"> -->
<div class="aling-div">
        <ul class="list-group">
            <li class="list-group-item">
                <h5>Escolha a Imagem que Será Importada</h5>
                <br>
                <form action="/handleUpload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" id="file-ajust" name="photo"/> <!--multiple="multiple"-->
                        <input type="submit" class="btn btn-secondary" value="Enviar" id="send-ajust"/>
                    </div>
                </form>
            </li>
        </ul>
</div>

{% endblock content %}